.frase{
    position: absolute;
    margin-top: 20px;
}
body{
    background:url("https://cdn.create.vista.com/api/media/small/547719830/stock-photo-dark-soft-pastel-gradient-pink");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 8vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 8%;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h4{
    text-align: justify;
    margin-left: 2%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nuevafrase{
    font-size: 25px;
    text-transform: uppercase;
    color: rgba(13, 0, 255, 0.72);
    width: 23%;
}

.cuadro{
    font-size: 25px;
    text-transform: uppercase;
    color: rgba(13, 0, 255, 0.884);
    width: 5%;
}

.go,.ver,.agregar,.reiniciar{
    font-size: 20px;
    height: 34px;
    border-radius: 20%;
}

.add{
    float: right;
    margin-top: 3%;
}

.go:hover,.ver:hover,.agregar:hover,.reiniciar:hover{
    background-color: rgba(4, 0, 255, 0.959);
    color: white;
}
.juego{
    background:url("https://fondosmil.com/th/3874.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 5%;
    
}
p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.encabezado{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://img.freepik.com/vector-gratis/controles-videojuegos-estilo-neon-pared-ladrillo_24908-58916.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 95%;
    margin-left: 2%;
}

.instrucciones{
    background: url("https://fondosmil.com/fondo/1806.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
.principal{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

